<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalle egreso</ion-title>
    <ion-button slot="start" fill="clear" (click)="closeUsuario()"><ion-icon class="icono" name="close"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
      <table border="1" id="TableColor" *ngIf="cont==0">
          <tr ><td ><b>Monto:</b></td><td>{{usu.monto}} Bs.</td></tr>
          <tr ><td ><b>Destinario:</b></td><td>{{usu.nombre}}</td></tr>
          <tr><td><b>Telefono:</b></td><td>{{usu.telefono}}</td></tr>
          <tr><td><b>Descripción:</b></td><td>{{usu.descripcion}}</td></tr>
          <tr><td><b>Fecha:</b></td><td>{{usu.fechita}}</td></tr>
          <tr><td><b>Saldo Balance:</b></td><td>{{usu.saldo}} Bs.</td></tr>
        </table>
        <table border="1" id="TableColor" *ngIf="cont==1">
          <tr ><td ><b>Monto:</b></td><td>{{usu.monto}} Bs.</td></tr>
          <tr ><td ><b>Destinatario:</b></td><td>{{usu.nombre}}</td></tr>
          <tr ><td ><b>Cta. destino:</b></td><td>{{usu.cuenta}}</td></tr>
          <tr><td><b>Telefono:</b></td><td>{{usu.telefono}}</td></tr>
          <tr><td><b>Banco:</b></td><td>{{usu.banco}}</td></tr>
          <tr><td><b>Descripción:</b></td><td>{{usu.descripcion}}</td></tr>
          <tr><td><b>Fecha:</b></td><td>{{usu.fechita}}</td></tr>
          <tr><td><b>Saldo Balance:</b></td><td>{{usu.saldo}} Bs.</td></tr>
        </table>
</ion-content>
