.titulo{
    color: #C0C0C0;
}
.card{
    width: 80%;
    float: left;
   
}
.card1{
    width: 80%;
    background-color: #dcf8c6;
    float: right;
    top: -10%;
}
.letra{
   font-size: 150%;
}
.letras{
    color:white;
}
.letras1{
    color: black;
}
.card2{
    width: 80%;
    float:right;
    background-color: #dcf8c6;
}
.card11{
    width: 80%;
    float: left;
    top:-10%;
}
.detalle{
    color: white;
}

ion-footer{
    position: absolute !important;
    bottom:0% !important;
}
ion-grid{
    background: cornflowerblue;
    color: #fff
}
.contenido-historial{
    padding-bottom: 150px !important
}

